body {
    background-image: url('https://wallpaperaccess.com/full/763840.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 2.3;
}

.card {
    background-color: rgba(255, 255, 255, 0.53);
    border: none;
}

.card-header {
    background-color: rgba(255, 255, 255, 0.53);
    border-bottom: none;


}

.form-control {
    border: 1px solid #fff;
}

input, select {
    margin-left: 25px;

}

